<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>demojee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>jee</display-name>
    <servlet-name>jee</servlet-name>
    <servlet-class>com.jee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jee</servlet-name>
    <url-pattern>/jee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>save</display-name>
    <servlet-name>save</servlet-name>
    <servlet-class>com.save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>save</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewstudent</display-name>
    <servlet-name>viewstudent</servlet-name>
    <servlet-class>com.viewstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewstudent</servlet-name>
    <url-pattern>/viewstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tsave</display-name>
    <servlet-name>tsave</servlet-name>
    <servlet-class>com.tsave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tsave</servlet-name>
    <url-pattern>/tsave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewteacher</display-name>
    <servlet-name>viewteacher</servlet-name>
    <servlet-class>com.viewteacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewteacher</servlet-name>
    <url-pattern>/viewteacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>com</display-name>
    <servlet-name>com</servlet-name>
    <servlet-class>coursesave.com</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com</servlet-name>
    <url-pattern>/com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>coursesave</display-name>
    <servlet-name>coursesave</servlet-name>
    <servlet-class>com.coursesave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>coursesave</servlet-name>
    <url-pattern>/coursesave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>com.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Align</display-name>
    <servlet-name>Align</servlet-name>
    <servlet-class>com.Align</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Align</servlet-name>
    <url-pattern>/Align</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlignEdit</display-name>
    <servlet-name>AlignEdit</servlet-name>
    <servlet-class>com.AlignEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlignEdit</servlet-name>
    <url-pattern>/AlignEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewcourse</display-name>
    <servlet-name>viewcourse</servlet-name>
    <servlet-class>com.viewcourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewcourse</servlet-name>
    <url-pattern>/viewcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelStu</display-name>
    <servlet-name>DelStu</servlet-name>
    <servlet-class>com.DelStu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelStu</servlet-name>
    <url-pattern>/DelStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlignTeacher</display-name>
    <servlet-name>AlignTeacher</servlet-name>
    <servlet-class>com.AlignTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlignTeacher</servlet-name>
    <url-pattern>/AlignTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlignEditTeacher</display-name>
    <servlet-name>AlignEditTeacher</servlet-name>
    <servlet-class>com.AlignEditTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlignEditTeacher</servlet-name>
    <url-pattern>/AlignEditTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelTeacher</display-name>
    <servlet-name>DelTeacher</servlet-name>
    <servlet-class>com.DelTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelTeacher</servlet-name>
    <url-pattern>/DelTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacher</display-name>
    <servlet-name>UpdateTeacher</servlet-name>
    <servlet-class>com.UpdateTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacher</servlet-name>
    <url-pattern>/UpdateTeacher</url-pattern>
  </servlet-mapping>
</web-app>